﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Turkçe", "Change", "Language",new { languageSelect="tr"},null)</li>
    <li>@Html.ActionLink("İngilizce", "Change", "Language",new { languageSelect = "en" },null)</li>
</ul>