﻿
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="panel panel-primary">
          
            <div class="panel-heading" style="background-color:darkslategrey;">
                <span style="color:whitesmoke;font-size:35px">Hakkında</span> 
                 
             </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-2">
                        @if (Session["uyeResim"] == null)
                        {
                            <img src="~/sakarya-uni-logo.png" alt="" style="width:120%; height:150%; " />
                        }
                        else
                        { <img src="@Session["uyeResim"]" alt="" style="width:120%; height:150%; " />  }
                        <br /> <br /><br />

                        <div> @Html.Label("Ad :")@Session["uyeAd"] </div>

                        <hr />
                        <div>
                            @Html.Label("Soyad :")@Session["uyeSoyad"]
                        </div>

                        <hr />
                        <div>
                            @Html.Label("EPosta :")@Session["uyeEPosta"]
                        </div>
                        
                             
                                    
                                
                            </div>
                    <div style="float:right" >
                        <div class="right">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="panel panel-primary" style="background-color:cadetblue">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>@Html.ActionLink("Blog Ekle", "BlogEkle", "Uyelik", new { @style = "color:whitesmoke;float:left" })</li>
                                             
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
        </div>
</div>
 </div>
 