﻿@model MvcProjesi.Data.Makale

@{
    ViewBag.Title = "BlogEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BlogEkle</h2>
  
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("BlogEkle", "Uyelik", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Yeni Blog</h4>
                    <a href="/Admin/Blog" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Slide" style="margin-top:-33px;">Tümü</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Fotoğraf</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Başlık</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">İçerik</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(m => m.Icerik, new { @class = "form-control", rows = 12, columns = 90 })
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Kullanıcı Id:</label>
                                    <div class="col-sm-10">
                                        @Html.TextBox("kullaniciId")<br />
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


