﻿<!--Her hangi bir model kullanmadık burada doğrulamayı kendimiz elle yapacağız-->
@{
    ViewBag.Title = "Üye Girişi";
}
<!--Layout sayfamızda sayfanın en alt kısmında scripts adlı bir sectionumuz tanımlanmıştı.
    Script ve css kodlarımızı scripts sectionuna koyacağız.
    Detaylı bilgi önceki yazılarımızda vardır.-->
@section scripts{
    <style type="text/css">
        #formKapsayici {
            box-shadow: 0 0 5px gray;
            padding: 25px;
            height: 500px;
        }

        #divSol, #divSag {
            float: left;
            margin-left: 25px;
        }

            #divSol *, #divSag * {
                margin-top: 15px;
            }

        input[type="text"] {
            width: 250px;
        }

        #btnUyeOl {
            /*clear komutu ile önceki divlerin sola yaslanarak sıralanmasında, butonun bu yaslanmaya
            uymayıp alt satıra inmesini sağlıyoruz*/
            clear: both;
            display: block;
            margin-left: 132px;
        }

        #divSonuc {
            color: red;
        }
    </style>
}
<form class="jumbotron" style="background-color:darkslategrey">
    <div>
        <h2 style="color:whitesmoke">Üye Girişi</h2>
    </div>
</form>
@using (Ajax.BeginForm("UyeGirisi", "Uyelik", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSonuc" }, new { id = "formKapsayici" }))
{
    <div id="divSol">
        <div>
            @Html.Label("E-Posta Adresiniz")<br />
        </div>
        <div>
            @Html.Label("Şifreniz")
        </div>
    </div>
    <div id="divSag">
        <div>
            : @Html.TextBox("txtPosta")<br />
        </div>

        <div>
            : @Html.Password("pswSifre") <br /><br />
        </div>
        </div> 
    <div class="col-sm-offset-2">
        <input type="submit" value="Giris" id="btnUyeOl" class="btn btn-primary" />
    </div>
 <br /><br />
    <div id="divSonuc"></div>
}
