﻿
@{
    ViewBag.Title = "UyelikBasarili";
}

  
<h2 class="jumbotron" style="background-color:crimson;color:ghostwhite">Tebrikler, sitemize başarıyla üye oldunuz.</h2> 
 
<script type='text/javascript'>setTimeout(function(){window.location='/'},3000)</script>
