﻿@model IEnumerable<MvcProjesi.Data.Uye>

@{
    ViewBag.Title = "Uyelistesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:darkslategrey">
        <h3 style="color:whitesmoke">Uye Aracı</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-50">
                <br />
                @{
                    int i = 0;
                    //Veri kaynağımız liste olduğu için döngümüzü kuruyoruz.
                    foreach (var item in Model)
                    {
                        if (String.IsNullOrEmpty(item.Ad))
                        {
                            break;
                        }
                        <div style="width:100%;margin-top:25px;box-shadow:0 0 5px gray;padding:25px;">

                            @{string ad = item.Ad;}

                            @Html.Label("Adı : ")&nbsp;&nbsp;@ad
                            <hr />
                            @{string soyad = item.Soyad;}

                            @Html.Label("Soyadı : ")&nbsp;&nbsp;@soyad
                            <hr />

                            @{string Eposta = item.EPosta;}

                            @Html.Label("E-Posta : ")&nbsp;&nbsp;@Eposta
                            <hr />


                        </div>
                                }
                }
            </div>
            </div>
        </div>
    </div>
