﻿@model MvcProjesi.Data.Uye

@{
    ViewBag.Title = "Yeni Üyelik";
}
<!--Layout sayfamızda sayfanın en alt kısmında scripts adlı bir sectionumuz tanımlanmıştı.

    Script ve css kodlarımızı scripts sectionuna koyacağız.-->

    

@section scripts{
    <style type="text/css">
        #formKapsayici {
            box-shadow: 0 0 5px gray;
            padding: 25px;
            height: 500px;
        }

        #divSol, #divSag {
            float: left;
            margin-left: 25px;
        }

            #divSol *, #divSag * {
                margin-top: 15px;
            }

        input[type="text"] {
            width: 250px;
        }

        #btnUyeOl {
            /*clear komutu ile önceki divlerin sola yaslanarak sıralanmasında, butonun bu yaslanmaya
            uymayıp alt satıra inmesini sağlıyoruz*/
            clear: both;
            display: block;
            margin-left: 132px;
        }
    </style>

    <!--Projemizde tarih seçici kullanacağız. Bunun için Jquery ve Jqueryui den faydalanacağız.-->
    <!--Öncelikle gerekli Jquery ui kütüphanemizi ekliyoruz. Jquery kütüphanemiz Layout sayfamızda
        zaten tanımlanmış durumdadır.-->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <!--Kütüphanelerimizin online olduğunu bu yüzden sayfa çalışırken, internet bağlantımızın aktif olması
        gerektiğini lütfen göz önünde bulundurun.-->
    <!--Tarih seçicimizi burada hazırlayacağız-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#textBoxDogum").datepicker();
        });
    </script>
}
 

<!--Html.BeginForm ile yeni bir form oluşturuyoruz ve içeriğine elemanlarımızı ekliyoruz.-->
<!--Formumuzun içinde resim yüklemesi de yapacağımız için, forma enctype = "multipart/form-data" özelliği veriyoruz-->
<!--Ayrıca normalde sistemimize doğum gününü kaydetmeyecektik, bu yüzden bir örnek olması adına Jquery ile
    doğum tarihini alarak, yaş kontrolü yapacağız.-->
<!--Formun sunucuya gönderim yöntemini, FormMethod.Post yaptığımıza dikkat edin.
Get ve Post metodları hakkında internette araştırma yapmamda fayda var.-->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form class="jumbotron"style="background-color:darkslategrey">
    <div>
        <h2 style="color:whitesmoke">Yeni Üyelik</h2>
    </div>
</form>

 <!--Html.ValidationSummary ile formda oluşan geçerlilik hatalarını liste halinde gösterebiliyoruz.-->
<div style="font-size:15px">@Html.ValidationSummary()</div>
@using (Html.BeginForm("YeniUyelik", "Uyelik", FormMethod.Post, new { enctype = "multipart/form-data", id = "formKapsayici" }))
{
      
    <div class="form-group row">
         

        @Html.LabelFor(i => Model.Ad, new { @class = "control-label col-sm-2" })
        <div class="col-sm-2">
             @Html.TextBoxFor(i => Model.Ad, new { @class = "form-control" })
        </div>
        
    </div>
    <br />

    <div class="form-group row">
        @Html.LabelFor(i => Model.Soyad, new { @class = "control-label col-sm-2" })
        <div class="col-sm-2">
             @Html.TextBoxFor(i => Model.Soyad, new { @class = "form-control" })
        </div>
    </div>
            <br />
            <div class="form-group row">
                @Html.LabelFor(i => Model.EPosta, new { @class = "control-label col-sm-2" })
                <div class="col-sm-2">
                    @Html.TextBoxFor(i => Model.EPosta, new { @class = "form-control" })
                </div>
            </div>

                <br />
                <div class="form-group row">
                    @Html.LabelFor(i => Model.Sifre, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-2">
                        @Html.PasswordFor(i => Model.Sifre, new { @class = "form-control" })
                    </div>

                </div>

                    <br />

                    <div class="form-group row">
                        @Html.LabelFor(i => Model.WebSite, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-2">
                             @Html.TextBoxFor(i => Model.WebSite, new { @class = "form-control" })
                        </div>
                    </div>

                    <br />

                    <!--Tüm elemanlarda for takısını kullanırken doğum tarihi ve resim yüklemede kullanmadık.
                    Çünkü bu iki elaman daha önce hazırladığımız Uye modeline ait değiller.
                    Bu yüzden elle ekledik.-->
    <div class="form-group row">
        @Html.Label("Doğum Tarihiniz", new { @class = "control-label col-sm-2" })
        <div class="col-sm-2">
            @Html.TextBox("textBoxDogum") <br /><br />
        </div>
    </div>
   
    
    <div class="form-group row">

        @Html.Label("Profil Resminiz", new { @class = "control-label col-sm-2" })
        <!--Aşağıdaki input type="file" dosya yüklemeye yarayan, html elementidir.-->

        <div class="form-group row">
            <input type="file" id="inputFile" name="file" />
             
        </div>
        <div class="col-sm-offset-2 h1">
            <input type="submit" value="Uye Ol" id="btnUyeOl" class="btn btn-primary" />
        </div>
        
    </div>
    




       

        }
