﻿
@{
    ViewBag.Title = "AdminMakaleler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 @model IEnumerable<MvcProjesi.Data.Makale>
<div class="panel panel-default">
    <div class="panel-heading"style="background-color:darkslategrey">
        <h2 style="color:whitesmoke">Tum Makaleler</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-50">
                @{
                    //Veri kaynağımız liste olduğu için döngümüzü kuruyoruz.
                    foreach (var item in Model)
                    {
                        <div style="width:100%;margin-top:25px;box-shadow:0 0 5px gray;padding:25px;">
                            <!--Başlığı, büyük ve renkli görünsün diye, h3 tagı içerisine aldık-->
                            <h3 style="font-weight:bold;color:red">
                                <p style="font-size:25px"><b>@Html.ActionLink(item.Baslik, "MakaleDetay", new { makaleId = item.MakaleId }, new { @style = "color:darkslategrey" })</b></p>
                            </h3>

                            <!--Başlıkla içerik arasına, dikey çizgi ekliyoruz.-->
                            <hr />

                            @Html.DisplayFor(i => item.Icerik)
                            <hr />
                            <!--Tarih başlığını, tarih içeriğine bağlamak için Label kullandık.-->
                            @Html.Label("Tarih : ")

                            @Html.DisplayFor(i => item.Tarih)
                            <hr />
                            <h4>Makaleyi Yazan</h4>

                             

                            @{string adSoyad = null;
                            }
                            <!--Burada bir değişkende, ad ile soyadı birleştirip ekrana bastık.-->
                            @if (item.Uye != null){
                                adSoyad = item.Uye.Ad + " " + item.Uye.Soyad;
                            }
                            else { adSoyad = Session["uyeAd"] + " " + Session["uyeSoyad"]; }        @*Eger yazan kisi yok ise o anki kullanici*@
                                @Html.Label("Adı ve Soyadı : ")&nbsp;&nbsp;@adSoyad;
                                 
                        </div>
                                }
                }
            </div>
        </div>
    </div>
</div>
