﻿
@{
    ViewBag.Title = "AdminHakkimda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:darkslategrey">
            <h3 style="color:whitesmoke">Hakkında</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-2">

                    <img src="~/sakarya-uni-logo.png" alt="" style="width:100%; height:100%; " />
                </div>
                <h4><b> Osman Yasal</b></h4>
                <p>
                    <h4>
                        Sakarya ÜNİVERSİTESİ Bilgisayar mühendisliği 2. sınıf öğrencisiyim , genel ilgi alanım programlama dır.<br /> Bu site kendi kişisel blog sitemdir.
                        Bu sitede programlama ile alakali gerek konu anlatımı gerekse ilgili konu uygulamalarını bulacaksınız
                    </h4>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <address>
                                Sakarya Üniversitesi<br />
                                Bilgisayar ve Bilişim fakultesi<br />
                                <abbr title="Phone" style="color:brown">Telefon:</abbr>+90 (533) 609 49 43<br />
                                <abbr title="Email" style="color:brown">E-Mail:</abbr>osman.yasal@ogr.sakarya.edu.tr
                            </address>
                        </div>
                    </div>
                </p>
            </div>

        </div>
    </div>
</div>


