﻿<!--Modelimiz liste olarak geldiği için List<> içerisine aldık-->
@model List<MvcProjesi.Data.Etiket>
<div style="border:1px double darkslategrey;padding:10px;text-align:center; background-color:darkslategrey; margin-top:4px">
    <h3  style="color:whitesmoke">En Çok Kullanılan Etiketler</h3>
    @{
        //Bu sefer de while döngüsünü kullandık.
        int sayi =0;
        while (sayi < Model.Count())
        {
            //Burada her etiketin etrafına çerçeve attık
            <ul style="border:1px double darkslategrey; background-color:whitesmoke">
                <li>
                    <!--Etiket başlıklarını, link haline getiriyoruz ve new{} kısmına Action'a gönderilmesi için
                        etiketId parametresini yazıyoruz-->
                    @Html.ActionLink(Model[sayi].Icerik, "EtiketinMakaleleri", new { etiketId = Model[sayi].EtiketId }, new { @style = "color:darkred" })
                </li>
            </ul>
            sayi++;
        }
    }
</div>
