﻿@model MvcProjesi.Data.Makale

@{
    ViewBag.Title = "MakaleDetay";
}

<h2>Makale Detayı</h2>

<div style="width:100%;margin-top:25px;box-shadow:0 0 5px gray;padding:25px;">
    <!--Başlığı, büyük ve renkli görünsün diye, h3 tagı içerisine aldık-->
    <h3 style="font-weight:bold;color:red">
        @Html.DisplayFor(i => Model.Baslik)
    </h3>

    <!--Başlıkla içerik arasına, dikey çizgi ekliyoruz.-->
    <hr />
    <p style="font-size:20px;font-family:'Arial Rounded MT'">
        @Html.DisplayFor(i => Model.Icerik)
        </p>

        <hr />
        <!--Tarih başlığını, tarih içeriğine bağlamak için Label kullandık.-->
        @Html.Label("Tarih : ")

        @Html.DisplayFor(i => Model.Tarih)
        <hr />
        <h4>Makaleyi Yazan</h4>
    @{string adSoyad = null;
    }
    <!--Burada bir değişkende, ad ile soyadı birleştirip ekrana bastık.-->
    @if (Model.Uye != null)
    {
        adSoyad = Model.Uye.Ad + " " + Model.Uye.Soyad;
    }
    @Html.Label("Adı ve Soyadı : ")&nbsp;&nbsp;@adSoyad;

</div>