﻿<!--Modelimiz liste olarak geldiği için List<> içerisine aldık-->
@model List<MvcProjesi.Data.Yorum>
<div style="border:1px double darkslategrey;padding:10px;text-align:center; background-color:darkslategrey">
    <h3 style="color:whitesmoke">Son Yorumlar</h3>
    @{
        //Bu sefer de for döngüsünü kullandık.
        for (int i = 0; i < Model.Count(); i++)
        {
            //Burada her yorumun etrafına çerçeve attık
            <div style="border:1px double darkslategrey; background-color:whitesmoke">
                <!--Üye bilgilerini alırken Linq yardımıyla, direkt, yorumu yazan üyenin bilgilerine
                    @@Model[i].Uye. şeklinde ulaşabildik.
                    -->
                <h4><b> Üye Bilgileri</b></h4>
                Adı : @Model[i].Uye.Ad<br />
                Soyadı : @Model[i].Uye.Soyad<br />
                <h4>Makale Bilgileri</h4>
                <!--Üye bilgilerini alırken Linq yardımıyla, direkt, yorumun ait olduğu
                          makelenin bilgilerine @@Model[i].Makale. şeklinde ulaşabildik.
                -->
                Başlık : @Html.ActionLink(@Model[i].Makale.Baslik, "YorumMakalesi", new { yorumId = Model[i].YorumId }, new { @style = "color:darkred" })
                <h4>Yorumun İçeriği</h4>
                <p>@Model[i].Icerik</p>
                Tarih : @Model[i].Tarih
            </div>
        }
    }
</div>
