﻿<!--
    Model verisi, tek bir veriye işaret ediyordu. Ancak biz, Controller'den veriyi
    bir liste halinde gönderdiğimiz için aşağıdaki satırı güncelledik.
-->
@model List<MvcProjesi.Data.Makale>

@{
    //En dışa bir çerçeve attık. İçeriği ortaladık ve 25'er piksel boşluk verdik.
    <div style="border:1px solid darkslategrey;padding:15px;text-align:left;">

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <div class="jumbotron" style="background-color:darkslategrey">
           <h2 style="color:whitesmoke"><b>Son Yayımlanan Makaleler</b></h2>
        </div>
        <!--
        //Burada Model dediğimiz zaman, Controllerden gelen veriye direkt ulaşmaktayız.
        //Biz burada liste halinde gelen Model'imizde döngü kurarak, içindeki verileri
        //html olarak basacağız.
            -->
        @foreach (var item in Model)
        {
            //Burada her makalenin etrafına çerçeve attık
            <div style="border:1px solid black;background-color:whitesmoke">
                <!--Başlığımızı link haline getirdik ve tıklandığı zaman, makaleId'yi parametre olarak
                    Action'umuza geçtik-->
                <p style="font-size:25px"><b>@Html.ActionLink(item.Baslik, "MakaleDetay", new { makaleId = item.MakaleId },new {@style="color:darkslategrey" })</b></p>
                <p style="color:black ; font-size:15px;font-family:'Arial Rounded MT'">@item.Icerik</p>
                <strong style="font-size:15px; color:brown">Tarih</strong>
                <strong style="font-size:15px"> @item.Tarih </strong>
                <br /><br />
            </div>
            
        }
    </div>
}