﻿@model IEnumerable<MvcProjesi.Data.Makale>
<div class="panel panel-info">
    <div class="panel-heading" style="background-color:darkslategrey">
        <h2 style="color:whitesmoke">Tum Makaleler</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-50">
                @{
                    //Veri kaynağımız liste olduğu için döngümüzü kuruyoruz.
                    foreach (var item in Model)
                    {
                        <div style="width:100%;margin-top:25px;box-shadow:0 0 5px gray;padding:25px;">
                            <!--Başlığı, büyük ve renkli görünsün diye, h3 tagı içerisine aldık-->
                            <p style="color:red ; font-size:25px">@Html.ActionLink(item.Baslik, "MakaleDetay", new { makaleId = item.MakaleId })</p>
                              

                            <!--Başlıkla içerik arasına, dikey çizgi ekliyoruz.-->
                            <hr />
                            <h4 style="font-family:'Arial Rounded MT'">
                                @Html.DisplayFor(i => item.Icerik)
                            </h4>
                            <hr />
                            <!--Tarih başlığını, tarih içeriğine bağlamak için Label kullandık.-->
                            @Html.Label("Tarih : ")

                            @Html.DisplayFor(i => item.Tarih)
                            <hr />
                            <h4>Makaleyi Yazan</h4>
                            @{string adSoyad = null;
                            }
                            <!--Burada bir değişkende, ad ile soyadı birleştirip ekrana bastık.-->
                            @if (item.Uye != null)
                            {
                                adSoyad = item.Uye.Ad + " " + item.Uye.Soyad;
                            }
                            else { adSoyad = Session["uyeAd"] + " " + Session["uyeSoyad"]; }        @*Eger yazan kisi yok ise o anki kullanici yazmistir.*@
                            @Html.Label("Adı ve Soyadı : ")&nbsp;&nbsp;@adSoyad;

                        </div>
                                }
                }
            </div>
        </div>
    </div>
</div>
