﻿
@{
    ViewBag.Title = "Diller";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Diller</h2>

<ul>
    <li>@Html.ActionLink("Turkçe", "Change", "AdminLanguage", new { languageSelect = "tr" }, null)</li>
    <li>@Html.ActionLink("İngilizce", "Change", "AdminLanguage", new { languageSelect = "en" }, null)</li>
</ul>